---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from 'astro:assets';
import skiImage1 from 'public/ski1.jpg';
import skiImage2 from 'public/ski2.jpg';
import skiImage3 from 'public/ski3.jpg';
import skiImage4 from 'public/ski4.jpg';
import skiImage5 from 'public/ski5.jpg';
import skiImage6 from 'public/ski6.jpg';
import skiImage7 from 'public/ski7.jpg';
---

<BaseLayout title="Hobbies" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skiing</div>
  </div>

  <div class="mb-10 text-justify">
    I have a great passion for skiing and I am a CISA level2 ski instructor. I go to Mount St Louis for skiing in the winter at weekends,
    and occasionally go skiing at somewhere BIGGER, like Mont Tremblant. Feel free to contact me if you are also interested in skiing or learning skiing.
  </div>

  <Image src={skiImage1} alt="" width="500" height="50"/>
  <Image src={skiImage2} alt="" width="500" height="50"/>
  <Image src={skiImage3} alt="" width="500" height="50"/>
  <Image src={skiImage4} alt="" width="500" height="50"/>
  <Image src={skiImage5} alt="" width="500" height="50"/>
  <Image src={skiImage6} alt="" width="500" height="50"/>
  <Image src={skiImage7} alt="" width="500" height="50"/>
</BaseLayout>
